.american_express {
  background: url('../../../img/cardicons/american_express.png') center / cover no-repeat;
}

.mastercard {
  background: url('../../../img/cardicons/mastercard.png') center / cover no-repeat;
}

.diners {
  background: url('../../../img/cardicons/diners.png') center / cover no-repeat;
}

.discover {
  background: url('../../../img/cardicons/discover.png') center / cover no-repeat;
}

.jcb {
  background: url('../../../img/cardicons/jcb.png') center / cover no-repeat;
}

.maestro {
  background: url('../../../img/cardicons/maestro.png') center / cover no-repeat;
}

.visa {
  background: url('../../../img/cardicons/visa.png') center / cover no-repeat;
}

.mir {
  background: url('../../../img/cardicons/mir.png') center / cover no-repeat;
}

.card {
  background: url('../../../img/cardicons/card.png') center / cover no-repeat;
}
